body {
    background: #eeeeee;
}

.panel {
	min-height: 80px;
    height: 80px;
	position:absolute;
	top:0;
	width:100%;
	overflow:hidden;
	z-index: 2000;
	margin: 0;
	background-color: #f8f8f8;
	font-family: 'Verdana';
	color: #7a3b34;
	line-height: 25px;
	border-bottom: 0.5px solid #7a3b3463;
}

.leaflet-center {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
}

.leaflet-center .leaflet-control {
    margin-bottom: 10px;
}

.leaflet-draw-tooltip {
	display: none;
}
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
	border-radius: 0px;
}
.popupCustom{
	font-family: Verdana;
	background-color: #f8f8f8;
}
.avolcLabels, .cityLabels, .marker-point, .houseLabels {
	background: transparent;
	border-width: 0px;
	box-shadow: none;
	font-size: 12px;
  }
.myLabels {
	background: rgb(238, 230, 217);
	border: 0.5px solid white;
	border-radius: 0px;
	box-shadow: none;
	font-size: 12px;
	font-weight: 600;
	font-family: 'Lucida Sans Unicode';
	color: #492622;
	margin: 0em;
	padding: 2px 4px;
}
.cityLabels, .houseLabels {
	font-family: 'Tahoma';
	color: #424040 ;
	}
.avolcLabels {
	font-size: 11px;
	font-weight: bold;
	font-family: 'Tahoma';
	color: #492622 ;
	}
.marker-point {
	font-weight: 500;
	font-style: italic;
	color: #4d4d33;
  }
.leaflet-tooltip-left.cityLabels::before, .houseLabels::before, .avolcLabels::before, .myLabels::before, .marker-point::before {
	border-left-color: transparent;
	}
.leaflet-tooltip-right.cityLabels::before, .houseLabels::before, .avolcLabels::before, .myLabels::before, .marker-point::before {
	border-right-color: transparent;
	}

.popupImage {
		max-width: 100%;
		max-height: 100%;
	}
	
.button {
	margin: 4px 2px 0px -1px;
	clear: none;
}
.button1 {
	margin: 5px 2px 0px 1px;
	clear: none;
}

.leaflet-top {
	bottom: 0%;
}
.leaflet-control-layers-expanded{
	width: 180px;
	font-family: Verdana;
	font-size: 12px;
	border-width: 1px;
	box-shadow: 0 1px 6px rgb(0 0 0 / 38%);
	border-radius: 0px;
	background-color: #f8f8f8;
}

/* .legend-container {
	position: relative;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background: white;
	overflow-y: auto;
	overflow-x: hidden;
	height: auto !important;
	max-height: calc(100% - (326px + 60px + 100px));
} */

.legend {
	line-height: 22px;
	color: #333;;
	font-family: Verdana;
	font-size: 12px;
	padding: 6px 0px;
	background-color: #f8f8f8;;
	/* border-bottom: 0.5px solid #bfbfbf; */
	opacity: 1;
	margin-top: 10px;
}
.legend hr {
	width: 100%;
	height: 0.2px;
}

.legend i {
	width: 16px;
	height: 12px;
	float: left;
	margin-right: 8px;
	margin-top: 3px;
	opacity: 0.7;
	font-family: Verdana;
}

.legend p {
	font-size: 12px;
	font-family: Verdana;
	line-height: 20px;
	margin: 0;
}

.legend .triangle-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #802b00;
	opacity: 1;
}

.legend .triangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #ac3939;
	margin-left: 2px;
	opacity: 0.9;
}
.legend .square {
	background: yellow;
	width: 8px;
	height: 8px;
	outline: 2px solid orange;
	opacity: 0.7;
	margin-left: 6px;
	margin-right: 13px;
	margin-top: 5px;
}
.legend .hatching-trench {
	background: linear-gradient(90deg, white 2px, transparent 1%) center,
		linear-gradient(white 2px, transparent 1%) center, #47271c;
	background-size: 4px 4px;
	margin-left: 1px;
	border: 1.3px solid #47271c;
}
.legend .hatching-cover {
	background: linear-gradient(90deg, white 2px, transparent 1%) center,
		linear-gradient(white 2px, transparent 1%) center, #00A1DE;
	background-size: 4px 4px;
	margin-left: 1px;
	border: 1.3px solid #00A1DE;
}

.legend .hatching-deadice {
    background: linear-gradient(135deg, #6699cc 27%, #145252 27%, #145252 33%, #6699cc 33%, #6699cc 65%, #145252 65%, #145252 70%, #6699cc 70% );
	border: 1.2px solid #145252;
    background-size: 16px 16px;
}
.legend .hatching-passice {
    background: linear-gradient(135deg, white 27%, #6699cc 27%,  #6699cc 33%, white 33%, white 65%, #6699cc 65%, #6699cc 70%, white 70% );
	border: 1.2px solid #6699cc;
    background-size: 16px 16px;
}
.legend .hatching-line {
    background: linear-gradient(0deg, white 50%, #00cc7a 50%,  #00cc7a 75%, white 75% );
	border: 1.2px solid transparent;
    background-size: 16px 16px;
	margin-left: 1px;
}

.legend .hatching-hazard {
	background: linear-gradient(135deg, white 15%, black 15%, black 25%, white 25%,  white 40% , black 40%, black 50%, white 50%,
		white 65% , black 65%, black 75%, white 75% );
	border: 1.2px solid grey;
    background-size: 16px 16px;
}

.legend .shish-fill {
	background-image: url("images/shish_pattern.svg"); 
	border: 1.2px solid #A87000;
	margin-left: 1px;
}

.legend .dotted { 
	background: linear-gradient(90deg, white 2px, transparent 1%) center,
		linear-gradient(white 2px, transparent 30%) center, #7c6d68;
	background-size: 4px 4px;
	margin-left: 1px;
}

.legend .cross {
	background: #ac3939;
	height: 12px;
	position: relative;
	width: 3px;
}
.legend .cross:after {
	background: #ac3939;
	content: "";
	height: 3px;
	left: -5px;
	position: absolute;
	top: 5px;
	width: 12px;
	transform: rotate(45deg);
}
.legend .circle {
        border:1px solid black;
        height: 10px;
        border-radius: 50%;
        -moz-border-radius:50%;
        -webkit-border-radius: 50%;
        width: 10px;
}
.ok {
	background: transparent;
	border: 0px;
	box-shadow: none;
	cursor: pointer;
}
.ok:hover {
	background: rgb(175, 175, 175);
}
.popupCustom textarea{
	width:300px;
	height:80px;
	resize: none;
	border: 1px solid rgb(175, 175, 175);
	outline: 0px;
}

.my-own-editing-icon { 
	width: 6px !important; 
	height: 6px !important; 
	border-radius: 5px;
	background-color: rgb(60, 61, 60)
}

#sidebar {
	font-size: 12px;
	font-family: Verdana;
	border-radius: 0px;
	line-height: 16px;
	background-color: #f8f8f8;
}
#sidebar h2 {
	color: #7a3b34;
	text-decoration: underline;
	font-family: "Segoe UI",Arial,sans-serif;
	font-size: 20px;
	font-weight: 500;
}
#sidebar .tab {
	overflow: hidden;
	padding-top: 10px;
}
#sidebar .tab button {
	background-color: #f1f1f1;;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 5px 10px;
	transition: 0.3s;
	width: 20%;
	margin: 1px;
}
#sidebar .tab button:hover {
	background-color: #ddd;
}
#sidebar .tab button:focus {
	background-color: #ccc;
	box-shadow:0px 0px 0px 2px #7a3b3481 inset;
}
#sidebar .tab button img {
	height: 16px;
}
#sidebar .tab-content {
	margin-top: 20px;
}

.popupTooltip .leaflet-popup-tip,
.popupTooltip .leaflet-popup-content-wrapper {
	border-radius: 0px;
	padding: 0 0;
	box-shadow: none;
	background: transparent;
}

.popupTooltipText {
	font-family: Verdana;
	font-size: 10px;
	background-color: whitesmoke;
	padding: 2px;
}

.custom-tooltip-styling {
	display:inline-block;
	font-family: Verdana;
	font-size: 11px;
}

.helpImage {
	max-width: 100%;
	max-height: 100%;
}
.geoTable {
    border-collapse: collapse;
	border: 1px solid #928374 ;
    margin: 15px 0;
    font-size: 12px; 
	width: 100%;
}

.geoTable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.geoTable th,
.geoTable td {
    padding: 4px 10px;
}
.geoTable caption {
	color: #641E16;
	text-align: left;
	font-size: 12px;
	font-weight: bold;
}
.cluster {
	fill-opacity: 0.7;
    background: #a5a5a5;
    border-radius: 50%;
    text-align: center;
    color: white;
    font-weight: 700;
    border: 1px solid white;
    font-family: monospace;
	font-size: 11px;
    height: 18px;
    width: 18px;
    line-height: 18px;
    margin-top: -9px;
    margin-left: -9px;
  }

.styleeditor-container {
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background: white;
	overflow-y: auto;
	overflow-x: hidden;
	height: auto !important;
    padding: 10px;
	margin: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	line-height: 12px;
	width: 196px;
	color: #333;;
	font-family: Verdana;
	font-size: 12px;
}
.styleeditor-container h3 {
	margin-top: 4px;
}
.styleeditor-container h4 {
	margin-bottom: 4px;
}

.styleeditor-slider {
    width: 100%;
}
.styleeditor-input-span {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
}
.styleeditor-colorpicker {
    width: 100%;
    display: inline-block;
}
.styleeditor-color {
    height: 25px;
    width: 25px;
    float: left;
    border: 1px solid black;
    cursor: pointer;
}
.styleeditor-color:hover {
    border: 1px solid red;
}
.slider-container {
	width: 100%;
}
.tooltips-control label input {
	padding-right: 10px !important;
	margin-right: 10px !important; 
	vertical-align: middle;
}

.chart-container {
	height: 300px;
	width: 100%;
}

.fields-selection {
	font-family: Verdana;
	font-size: 13px;
	font-weight: bold;
	padding-bottom: 15px;
	padding-right: 10px;
}
.fields-selection select, .fields-selection input, .popupCustom input{
	padding:  0px 5px;
	margin-bottom: 15px;
	height: 20px;
	width: 38%;
	appearance: none; 
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid rgb(175, 175, 175);
	outline: none;
	box-shadow: none;
	-webkit-box-shadow: none;
}
.fields-selection label {
	padding-right: 15px;
	padding-left: 0px;
}
.fields-selection input{
	margin-right: 0px;
	width: auto;
}
.red-text{
	font-style: italic;
	color: red;
}



