body {
    background: #eeeeee;
}

.panel {
	min-height: 80px;
    height: 80px;
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	overflow:hidden;
	z-index: 2000;
	box-shadow:0 1px 6px rgba(0, 0, 0, 0.377);
	margin: 0;
	background: #f8f8f8;
	font-family: 'Verdana';
	color: #7a3b34;
	line-height: 5px;
	vertical-align: top;
}

.leaflet-center {
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    left: 50%;
    transform: translateX(-50%);
    padding-top: 10px;
}

.leaflet-center .leaflet-control {
    margin-bottom: 10px;
}

.myLabels {
	  background: transparent;
	  border: 0px;
	  box-shadow: none;
	  font-size: 12px;
	  font-weight: 600;
	  font-family: 'Lucida Sans Unicode';
	  color: #492622;
	}
.leaflet-tooltip-left.myLabels::before {
	  border-left-color: transparent;
	}
.leaflet-tooltip-right.myLabels::before {
	  border-right-color: transparent;
	}

.leaflet-draw-tooltip {
	display: none;
}
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
	border-radius: 0px;
}
.popupCustom{
	font-family: Verdana;
	font-size: 12px;
	line-height: normal;
}

.cityLabels {
	background: transparent;
	border: 0px;
	box-shadow: none;
	font-size: 12px;
	font-family: 'Tahoma';
	color: #424040 ;
	}
.leaflet-tooltip-left.cityLabels::before {
	border-left-color: transparent;
	}
.leaflet-tooltip-right.cityLabels::before {
	border-right-color: transparent;
	}

.houseLabels {
	background: transparent;
	border: 0px;
	box-shadow: none;
	font-size: 12px;
	font-family: 'Verdana';
	color: #424040 ;
	}
.leaflet-tooltip-left.houseLabels::before {
	border-left-color: transparent;
	}
.leaflet-tooltip-right.houseLabels::before {
	border-right-color: transparent;
	}

.avolcLabels {
	background: transparent;
	border: 0px;
	box-shadow: none;
	font-size: 11px;
	font-weight: bold;
	font-family: 'Tahoma';
	color: #424040 ;
	}
.leaflet-tooltip-left.avolcLabels::before {
	border-left-color: transparent;
	}
.leaflet-tooltip-right.avolcLabels::before {
	border-right-color: transparent;
	}

.marker-point {
	  background: transparent;
	  border: 0px;
	  box-shadow: none;
	  font-size:12px;
	  font-weight: 500;
	  font-style: italic;
	  color: #4d4d33;
	}
.leaflet-tooltip-left.marker-point::before {
	border-left-color: transparent;
	}
.leaflet-tooltip-right.marker-point::before {
	border-right-color: transparent;
	}

.popupImage {
		max-width: 100%;
		max-height: 100%;
	}
	
.button {
	margin: 4px 2px 0px -1px;
	clear: none;
}
.button1 {
	margin: 5px 2px 0px 1px;
	clear: none;
}
.leaflet-top {
	bottom: 0%;
}
.leaflet-control-layers-expanded{
	width: 180px;
	font-family: Verdana;
	font-size: 12px;
	border-width: 1px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 0px;
}

.legend-container {
	position: relative;
	/* bottom: -10%; */
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	background: white;
	overflow-y: auto;
	overflow-x: hidden;
	height: auto !important;
	max-height: calc(100% - (326px + 60px + 100px));
}

.legend {
	line-height: 22px;
	width: 180px;
	color: #333;;
	font-family: Verdana;
	font-size: 12px;
	padding: 6px 8px;
	background: white;
	border-bottom: 0.5px solid #bfbfbf;
	
	opacity: 1;
}
.legend hr {
	width: 100%;
	height: 0.2px;
}

.legend i {
	width: 16px;
	height: 12px;
	float: left;
	margin-right: 8px;
	margin-top: 3px;
	opacity: 0.7;
	font-family: Verdana;
}

.legend p {
	font-size: 12px;
	font-family: Verdana;
	line-height: 20px;
	margin: 0;
}

.legend .triangle-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #802b00;
	opacity: 1;
}

.legend .triangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #ac3939;
	margin-left: 2px;
	opacity: 0.9;
}
.legend .hatching-trench {
	background: linear-gradient(90deg, white 2px, transparent 1%) center,
		linear-gradient(white 2px, transparent 1%) center, #47271c;
	background-size: 4px 4px;
	margin-left: 1px;
	border: 1.3px solid #47271c;
}
.legend .hatching-cover {
	background: linear-gradient(90deg, white 2px, transparent 1%) center,
		linear-gradient(white 2px, transparent 1%) center, #00A1DE;
	background-size: 4px 4px;
	margin-left: 1px;
	border: 1.3px solid #00A1DE;
}

.legend .hatching-deadice {
    background: linear-gradient(135deg, #6699cc 27%, #145252 27%, #145252 33%, #6699cc 33%, #6699cc 65%, #145252 65%, #145252 70%, #6699cc 70% );
	border: 1.2px solid #145252;
    background-size: 16px 16px;
}
.legend .hatching-passice {
    background: linear-gradient(135deg, white 27%, #6699cc 27%,  #6699cc 33%, white 33%, white 65%, #6699cc 65%, #6699cc 70%, white 70% );
	border: 1.2px solid #6699cc;
    background-size: 16px 16px;
}
.legend .hatching-line {
    background: linear-gradient(0deg, white 50%, #00cc7a 50%,  #00cc7a 75%, white 75% );
	border: 1.2px solid transparent;
    background-size: 16px 16px;
}

.legend .hatching-hazard {
	background: linear-gradient(135deg, white 15%, black 15%, black 25%, white 25%,  white 40% , black 40%, black 50%, white 50%,
		white 65% , black 65%, black 75%, white 75% );
	border: 1.2px solid grey;
    background-size: 16px 16px;
}

.legend .shish-fill {
	background-image: url("images/shish_pattern.svg"); 
	border: 1.2px solid #A87000;
	margin-left: 1px;
}

.legend .dotted { 
	background: linear-gradient(90deg, white 2px, transparent 1%) center,
		linear-gradient(white 2px, transparent 30%) center, #7c6d68;
	background-size: 4px 4px;
	margin-left: 1px;
}

.legend .cross {
	background: #ac3939;
	height: 12px;
	position: relative;
	width: 3px;
}
.legend .cross:after {
	background: #ac3939;
	content: "";
	height: 3px;
	left: -5px;
	position: absolute;
	top: 5px;
	width: 12px;
	transform: rotate(45deg);
}
.ok {
	background: transparent;
	border: 0px;
	box-shadow: none;
}

.my-own-editing-icon { 
	width: 6px !important; 
	height: 6px !important; 
	border-radius: 5px;
	background-color: rgb(60, 61, 60)
}

#sidebar{
	font-size: 12px;
	font-family: Verdana;
	border-radius: 0px;
}

.popupTooltip .leaflet-popup-tip,
.popupTooltip .leaflet-popup-content-wrapper {
	border-radius: 0px;
	padding: 0 0;
	box-shadow: none;
	background: transparent;
}

.popupTooltipText{
	font-family: Verdana;
	font-size: 10px;
	background-color: whitesmoke;
	padding: 2px;
}

.custom-tooltip-styling{
	display:inline-block;
	font-family: Verdana;
	font-size: 11px;
}

.helpImage {
	max-width: 100%;
	max-height: 100%;
}