body {
    background: #eeeeee;
}

.panel {
	min-height: 80px;
    height: 50px;
	position:absolute;
	top:0;
	bottom:0;
	width:100%;
	overflow:hidden;
	z-index: 2000;
	box-shadow:0 1px 6px rgba(0, 0, 0, 0.377);
	padding: 10px;
	margin: 0px;
	background: #f8f8f8;
	font-family: 'Verdana';
	color: #643631;
	line-height: 5px;
}

.myLabels {
	  background: transparent;
	  border: 0px;
	  box-shadow: none;
	  font-size: 13px;
	  font-weight: 600;
	  font-family: 'Lucida Sans Unicode';
	  color: #492622;
	}
.leaflet-tooltip-left.myLabels::before {
	  border-left-color: transparent;
	}
.leaflet-tooltip-right.myLabels::before {
	  border-right-color: transparent;
	}

.cityLabels {
	background: transparent;
	border: 0px;
	box-shadow: none;
	font-size: 12px;
	font-family: 'Tahoma';
	color: #424040 ;
	}
.leaflet-tooltip-left.cityLabels::before {
	border-left-color: transparent;
	}
.leaflet-tooltip-right.cityLabels::before {
	border-right-color: transparent;
	}

.avolcLabels {
	background: transparent;
	border: 0px;
	box-shadow: none;
	font-size: 11px;
	font-weight: bold;
	font-family: 'Tahoma';
	color: #424040 ;
	}
.leaflet-tooltip-left.avolcLabels::before {
	border-left-color: transparent;
	}
.leaflet-tooltip-right.avolcLabels::before {
	border-right-color: transparent;
	}

.leaflet-control-layers-expanded { 
    width:160px;
}	

.marker-point {
	  background: transparent;
	  border: 0px;
	  box-shadow: none;
	  font-size:12px;
	  font-weight: 500;
	  font-style: italic;
	  color: #4d4d33;
	}
.leaflet-tooltip-left.marker-point::before {
	border-left-color: transparent;
	}
.leaflet-tooltip-right.marker-point::before {
	border-right-color: transparent;
	}

.popupImage {
		max-width: 100%;
		max-height: 100%;
	}
	
.button {
	max-width:100%; 
	max-height:100%;
	padding:2px 0px 2px 0px;
	margin:3px 0px;
}	
	
.legend {
	line-height: 22px;
	width: 160px;
	color: #333;;
	font-family: 'Open Sans', Helvetica, sans-serif;
	padding: 6px 8px;
	background: white;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
	border: 2px solid #bfbfbf;
	opacity: 1;
}

.legend i {
	width: 16px;
	height: 12px;
	float: left;
	margin-right: 8px;
	margin-top: 3px;
	opacity: 0.7;
}

.legend p {
	font-size: 12px;
	line-height: 20px;
	margin: 0;
}

.legend .triangle-up {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 16px solid #802b00;
	opacity: 1;
}

.legend .triangle {
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 12px solid #ac3939;
	margin-left: 2px;
	opacity: 0.9;
}

.legend .hatching-deadice {
    background: linear-gradient(135deg, #6699cc 27%, #145252 27%, #145252 33%, #6699cc 33%, #6699cc 65%, #145252 65%, #145252 70%, #6699cc 70% );
	border: 1.2px solid #145252;
    background-size: 16px 16px;
}

.legend .hatching-hazard {
	background: linear-gradient(135deg, white 15%, black 15%, black 25%, white 25%,  white 40% , black 40%, black 50%, white 50%,
		white 65% , black 65%, black 75%, white 75% );
	border: 1.2px solid grey;
    background-size: 16px 16px;
}

.legend .dotted { 
	background: linear-gradient(90deg, white 2px, transparent 1%) center,
		linear-gradient(white 2px, transparent 1%) center, #4d1300;
	background-size: 4px 4px;
	margin-left: 1px;
}

.legend .cross {
	background: red;
	height: 12px;
	position: relative;
	width: 3px;
	
}
.legend .cross:after {
	background: red;
	content: "";
	height: 3px;
	left: -5px;
	position: absolute;
	top: 5px;
	width: 12px;
	transform: rotate(45deg);
}
.ok {
	background: transparent;
	border: 0px;
	box-shadow: none;
}

.my-own-editing-icon { 
	width: 6px !important; 
	height: 6px !important; 
	border-radius: 5px;
	background-color: rgb(60, 61, 60)
}
